.images img {
    max-width: 100%;
    height: auto;
}


.images {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    padding: 10px;
}



@media (min-width: 600px) {
    .images { grid-template-columns: 1fr 1fr; }
}

@media (min-width: 1024px) {
    .images { grid-template-columns: 1fr 1fr 1fr; }
}

hover {
  padding: 15px;
  background: green;
  color: white;
one;
}

.hover:hover {
  background: darkgreen;  
  transform: scale(1.1);   
}

.options {
  display: none;        
  background: grey;     
  padding: 4px;         
}

.dropdown:hover .options {
  display: block;      
}

.options a {
  display: block;       
  padding: 5px;        
  text-decoration: none;
  color: black;
}
.options {
  display: none;        
  background: grey;     
  padding: 4px;         
}

.dropdown:hover .options {
  display: block;      
}

.options a {
  display: block;       
  padding: 5px;        
  text-decoration: none;
  color: black;
}
.zoomimage {
  transition: 0.5s;       
}

.zoomimage:hover {
  transform: scale(1.2);   
}

